#app,
#start,
#game-wrapper {
	height: 100vh;
	width: 100vw;
}
#app {
	background-color: aliceblue;
}

.hide {
	display: none !important;
}

#start {
	display: flex;
	align-items: center;
}

#username-form {
	margin: 0 auto;
	text-align: center;
}

#game-wrapper {
	display: flex;
}
#game {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	border-right: 1px solid #555;
}
#game h2 {
	background-color: cornflowerblue;
	padding: 0.5rem 0.75rem;
	color: white;
}
#arena-wrapper {
	margin: 1rem 1.5rem;
	flex-grow: 1;
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: repeat(5, 1fr);
  	background-color: #979797;
  	padding: 2px;
	/* overflow-y: scroll; */
	/* height: calc(100vh - 2.25rem - 2px); */
}
#arena-wrapper > div {
	background-color: #F5F5F5;
	/* border: 1px solid rgba(0, 0, 0, 0.8); */
	padding: 2rem;
	font-size: 30px;
	text-align: center;
}
#messages {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	list-style: none;
	padding: 0;
}
#messages .message {
	background-color: lightgray;
	border-radius: 0.75rem;
	margin: 0.1rem;
	padding: 0.5rem 0.75rem;
	align-self: flex-start;
}
#messages .message.you {
	background-color: cornflowerblue;
	color: white;
	align-self: flex-end;
}
#messages .notice {
	color: #555;
}
#scoreboard {
	flex-basis: 20%;
}
#scoreboard h2 {
	background-color: cornflowerblue;
	padding: 0.5rem 0.75rem;
	color: white;
}
#scoreboard ul {
	margin: 0;
	padding: 0.5rem 0.75rem;
	list-style: none;
}

#currentScore {
	text-align: center;
	color: red;
	font-size: xx-large;
	font-weight: 600;
}

#reactiontimes {
	text-align: center;
	margin: 0.5rem 0.75rem;
	font-size: large;
}

#you-time {
	color: #13CE13;
	font-size: larger;
	font-weight: 600;
}

#opponent-time {
	color: #CD14CD;
	font-size: larger;
	font-weight: 600;
}

#reactiontimes div {
	background-color: #D5E8D4;
	border: 1px solid #A2C790;
}

#you-minutes, #you-seconds, #you-milliseconds {
	/* important with this font family */
	font-family: "Roboto Mono", monospace;	
	font-size: larger;
}